/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-blue: #36499b;
	--color-yellow: #ffec88;
	--color-white: #FFFFFF;
	--color-red: red;
}

/****************/
/* JOUW STYLING */
/****************/
/* jouw code */

/*****************************************/
/* als de browser 375px is */
/*****************************************/


/* DTW font */
@font-face {
	font-family: 'DTW Medium';
	src: url('../fonts/DTW_Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DTW Bold';
	src: url('../fonts/DTW_Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* D font */
@font-face {
	font-family: 'D Medium';
	src: url('../fonts/D_Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* F font */
@font-face {
	font-family: 'F Normal';
	src: url('../fonts/F_Normal.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'F Bold';
	src: url('../fonts/F_Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


body {
	margin: 0;
	padding: 0;
	color: rgb(0, 0, 0);
	font-family: 'F Normal', sans-serif;
	font-size: 1.2em;
	background-color: var(--color-white);
	background-image: url(../img/background.jpeg);
	background-repeat: repeat;
	width: 100vw !important;
}

body img {
	max-width: 80vw;
}

main {
	display: grid;
}

nav {
	position: fixed;
	display: flex;
	width: 100vw;
	z-index: 2;
	align-items: center;
	margin-top: 0.8em;
	justify-content: center;
}

header a:first-of-type {
	margin: 0em auto 0em 2em;
}

header button:first-of-type {
	margin: 0em 2em 0em auto;
	background: transparent;
	border: none;
	z-index: 2;
}

nav ul {
	background-color: var(--color-blue);
	padding: 1em 5em 1em 2em;
	position: absolute;
	top: 2em;
	width: 90%;
	display: none;

}

nav ul li {
	list-style: none;
	text-align: left;
	margin: 0.5em 0em 0.5em 0em;
}

nav ul li a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}


header {
	display: flex;
	justify-content: center;
	background-color: rgb(226, 27, 226);
	width: 100vw;
	height: 50vh;
}

@media screen and (min-width: 425px) {
	
	nav ul {
		display: block;
		display: flex;
		background-color: transparent;
		justify-content: center;
	}

	nav ul li a {
	font-family: 'DTW Bold';
	color: var(--color-yellow);
	font-size: 1.5em;
	text-transform: uppercase;
	text-shadow: 0 4px 0 var(--color-blue), -1px -1px 0 var(--color-blue), 1px -1px 0 var(--color-blue), -1px 1px 0 var(--color-blue), 1px 1px 0 var(--color-blue);
	position: absolute;
}

	nav button {
		display: none;
	}
	
	header {
		height: 70vh;
	}
}

header video {
	width: 100vw;
	object-fit: cover;
	object-position: center;
	box-shadow: 0 1em 4em 8em #6b8dc3;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

p {
	font-size: 1em;
}

h1 {
	font-family: 'DTW Medium';
	color: var(--color-white);
	font-size: 2rem;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 var(--color-blue), 1px -1px 0 var(--color-blue), -1px 1px 0 var(--color-blue), 1px 1px 0 var(--color-blue);
	margin: 0;
	display: block;

}


h2 {
	font-family: 'DTW Bold';
	color: var(--color-white);
	font-size: 1.5em;
	text-transform: uppercase;
	text-shadow: 0 5px 0 var(--color-blue), -1px -1px 0 var(--color-blue), 1px -1px 0 var(--color-blue), -1px 1px 0 var(--color-blue), 1px 1px 0 var(--color-blue);
}

h3 {
	font-family: 'DTW Bold';
	color: var(--color-yellow);
	font-size: 1em;
	text-transform: uppercase;
	text-shadow: 0 4px 0 var(--color-blue), -1px -1px 0 var(--color-blue), 1px -1px 0 var(--color-blue), -1px 1px 0 var(--color-blue), 1px 1px 0 var(--color-blue);
}

.visible {
	display: block;
}

nav a:first-of-type {
	order: 1;
	animation: rotate 15s ease-in-out;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


nav h1 {
	order: 2;
}

nav button {
	order: 3;

}

.close {
	transform: rotate(-45deg);
}


section {
	margin: 1em;
	margin-top: 5em;
	margin-bottom: 5em;
}

a {
	color: var(--color-red);
	text-decoration: none;
}

footer {
	margin-top: 5em;
	text-align: center;
}

footer section {
	margin-bottom: 2em;
}

footer img {
	width: 10em;
}