/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/
/* jouw code */

/*****************************************/
/* als de browser 375px is */
/*****************************************/


body {
    margin: 0;
	padding: 0;
	color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
	background-image: url(/img/background.jpeg);
	background-repeat:repeat;
	width: 100vw;
}

main {
	display: grid;

}


nav {
	background-color: #36499b;
	padding: 1em 2em 1em 2em;
	position: absolute ;
	top: 10%
}

nav ul li {
	list-style: none;
}

nav ul li a {
	color: white;
	text-decoration: none;
}


header {
    display: flex;
    justify-content: center;
	background-color: rgb(226, 27, 226);
}

header video {
 width: 100vw;
}

h2 { 
	padding: 0.1em;
	margin: 1em;
    background-color: #ffec88;
    font-size: 1.3rem;
    text-transform: uppercase;
    box-shadow: 0 10px 0 #36499b, -1px -1px 0 #36499b, 1px -1px 0 #36499b, -1px 1px 0 #36499b, 1px 1px 0 #36499b;
}