/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/
/* jouw code */

body {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 99,9%;
	height: 100%;
	background-image: url("/img/bg1.svg"); 
    background-color: rgb(255, 255, 255);
    background-position: center; /* Center the image */
    background-repeat:repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


header {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

header img {
	top: 60px;
	position: absolute;

}

nav {
	display: flex;
	justify-content: space-around;
    align-items: center;
}

nav ul {
	top: 80px;
	display: flex;
	width: 80vw;
	height: 25vh;
	position: absolute;
	background-color: rgb(19, 0, 146);

	gap: 10px;
	padding-left: 10em;
	padding-right: 10em;
	justify-content: space-around;
    align-items: center;

	list-style: none;
	
}

nav ul li {
	/* padding: 1em 1em 1em 1em; */
}

nav ul li a {
	color: white;
	font-size: 20px;
	text-decoration: none;
}