body {
	margin: 0;
	padding: 0;
	color: rgb(0, 0, 0);
	font-family: 'F Normal', sans-serif;
	font-size: 1.2em;
	background-color: var(--color-white);
	background-image: url(../img/background.jpeg);
	background-repeat: repeat;
	width: 100vw !important;
}

header {
height: 50vw;
margin: 0;
background-image: url(../img/header2.png);
width: 100vw;
background-repeat: no-repeat;
background-size:contain;
}

section + .ad_icons {
    margin-top: 2em;
  }
  
  .ad_icons ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
  max-width: 100vw;
  list-style: none;
  padding: 0;
  }
  
  .ad_icons img {
    width: 1.5em;
    animation: Ystretch 4s ease-in-out;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-iteration-count: infinite;
  }

article a {
    display: block;
    font-family: 'DTW Bold';
    color: var(--color-blue);
    padding: 0.2em 2em 0.2em 2em;
    width: 12em;
    text-align: center;
    margin: 0.5em auto 0.5em auto;
    background-color: var(--color-yellow);
    font-size: 1rem;
    text-transform: uppercase;
    box-shadow: 0 10px 0 var(--color-blue), -1px -1px 0 var(--color-blue), 1px -1px 0 var(--color-blue), -1px 1px 0 var(--color-blue), 1px 1px 0 var(--color-blue);
    text-decoration: none;
  }
  
article a:hover {
    background-color: var(--color-white);
  }