body {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: 'F Normal', sans-serif;
    font-size: 1.2em;
    background-color: var(--color-white);
    background-image: url(../img/background.jpeg);
    background-repeat: repeat;
    width: 100vw !important;
}


header {
    height: 50vw;
    margin: 0;
    background-image: url(../img/header2.png);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}


h1 {
    top: 4em;
}


section+.ad_icons {
    margin-top: 2em;
}

.ad_icons ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    max-width: 100vw;
    list-style: none;
    padding: 0;
}

.ad_icons img {
    width: 1.5em;
    animation: Ystretch 4s ease-in-out;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-iteration-count: infinite;
}

@keyframes Ystretch {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(1.3);
    }

    100% {
        transform: scaleY(1);
    }

}


main ul {
    margin-top: 10vh;
    padding: 0;
}

main ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 2em;
}

article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    text-align: center;
    margin: 1em;
    align-items: center;
    max-width: 80vw;

}

article a {
    display: block;
    font-family: 'DTW Bold';
    color: var(--color-blue);
    padding: 0.8em;
    width: 8em;
    text-align: center;
    margin: 0em auto 0em auto;
    background-color: transparent;
    border: var(--color-blue) solid 1px;
    font-size: 1rem;
    text-transform: none;
    text-decoration: none;
}

article a:hover {
    background-color: var(--color-white);
}

h2 {
    font-family: 'DTW Bold';
    color: var(--color-blue);
    font-size: 1em;
    text-transform: none;
    text-shadow: none;
    margin: 0.5em;
}

hgroup p:first-of-type {
    font-family: 'DTW Bold';
    color: var(--color-blue);
    font-size: 1em;
    text-transform: none;
    text-shadow: none;
    margin: 0.5em;

}

p {
    margin: 0.5em;
}

/*****************************************/
/* als de browser groter dan 1024px is */
/*****************************************/

@media screen and (min-width: 1024px) {

    main ul {
        margin-top: 15vh;
    }


}


/***************************************************/
/* als de bezoeker reduces motion aan heeft staan */
/**************************************************/

@media (prefers-reduced-motion) {

    .ad_icons img {
        animation: none;
    }

    nav a img:first-of-type {
        animation: none;
    }

    .nav_open {
        animation: none;
    }

}